<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.universish.libre.keyboardtrigger">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:label="Keyboard Trigger"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <service android:name=".KeyboardTriggerAccessibilityService"
                 android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
                 android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice"
                       android:resource="@xml/accessibility_service_config" />
        </service>
        
        <service android:name=".FloatingService"
                 android:foregroundServiceType="specialUse"
                 android:exported="false" />
        
        <activity android:name=".KeyboardShowActivity" android:exported="true" android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".MainActivity" android:exported="true" android:excludeFromRecents="true" android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AboutActivity" android:exported="true" />
        <activity android:name=".LicensesActivity" android:exported="true" />
        <activity android:name=".DebugActivity" android:exported="true" />
        
        <!-- FileProvider for sharing debug reports -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
